[submodule "IS_lab_backend"]
	path = IS_lab_backend
	url = https://github.com/andrey8080/IS_lab_backend.git
[submodule "IS_lab_frontend"]
	path = IS_lab_frontend
	url = https://github.com/andrey8080/IS_lab_frontend.git
