[submodule "IS_lab1_backend"]
	path = IS_lab1_backend
	url = https://github.com/potterandrey4/IS_lab1_backend.git
[submodule "IS_lab1_frontend"]
	path = IS_lab1_frontend
	url = https://github.com/potterandrey4/IS_lab1_frontend.git
